.game-container {
    margin: 0;
}
h1 {
    font-size: 68px;
}

.stars, .moves {
    display: inline;
    padding-right: 5px;
}

.game-board {
    height: 100vw;
    border-radius: 2%;
}

.win-msg-container {
    font-size: 8em;
    align-items: center;
}

.win-msg {
    margin-top: initial;
}
